body{
    background-image: linear-gradient(180deg, rgba(211, 202, 202, 0.993)25%, rgba(131, 50, 50, 0.664));
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   height:100vh;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height:400px;
    margin:10px;
}
.box img{
    object-fit: cover;
	height: 100%;
	width: 100%;
}
.buttons {
    display: flex;
	align-items: center;
	justify-content: center;
    margin:10px;
}
button {
	background-color: darksalmon;
	border: 0;
	border-radius: 10px;
	color: #fff;
	font-size: 18px;
	padding: 10px;
	margin: 10px;
	width: 300px;
}
button:active {
	transform: scale(0.98);
}
button:hover {
    cursor: pointer;
    background-color: crimson;
}